.recipe-search {
    width: 400px !important;
  }

  .jumbotron {
    padding-right: 1160px;
  }

#recipeBackground {
    background-image: url(./images/food1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.history-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#history-container {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-history {
  padding: 5px 10px 0 10px;
  margin: 0px 10px 10px 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
}